In [1]:
import pandas as pd

In [2]:
data_1 = [12,23,45,67,15,20,19]
data_2 = [54,23,43,16,36,41,10]

series_1 = pd.Series(data_1, index = ['a', 'b', 'c', 'd', 'e', 'f', 'g'])
series_2 = pd.Series(data_2, index = ['e', 'g', 'h', 'c', 'a', 'i', 'k'])

In [3]:
dataset = series_1 + series_2

In [4]:
dataset

a    48.0
b     NaN
c    61.0
d     NaN
e    69.0
f     NaN
g    42.0
h     NaN
i     NaN
k     NaN
dtype: float64

In [5]:
dataset.isnull()

a    False
b     True
c    False
d     True
e    False
f     True
g    False
h     True
i     True
k     True
dtype: bool

In [6]:
dataset.dropna()

a    48.0
c    61.0
e    69.0
g    42.0
dtype: float64

In [8]:
dataset.fillna(0)

a    48.0
b     0.0
c    61.0
d     0.0
e    69.0
f     0.0
g    42.0
h     0.0
i     0.0
k     0.0
dtype: float64

In [11]:
meanVal = dataset.mean()

In [14]:
dataset.fillna(meanVal, inplace=True)

In [17]:
dataset.mode()

0    55.0
dtype: float64

In [18]:
dataset.min()

42.0

In [19]:
dataset.max()

69.0

In [22]:
dates = pd.date_range('20130101', periods=6)

In [23]:
dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [27]:
import numpy as np

df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=list('ABCD'))

In [28]:
df

                   A         B         C         D
2013-01-01 -0.463268  0.681268  0.338396  0.365847
2013-01-02 -0.147727  1.033712 -0.146153 -1.952370
2013-01-03 -0.578082  1.382138  1.004675 -0.789840
2013-01-04 -2.380455 -0.641624  1.141754  0.381134
2013-01-05  0.714292  0.354693  0.810630  1.114831
2013-01-06 -0.896894 -1.469491 -2.544186 -1.331812

# Selection By Label

In [30]:
df.loc[dates[0]]

A   -0.463268
B    0.681268
C    0.338396
D    0.365847
Name: 2013-01-01 00:00:00, dtype: float64

In [34]:
df.loc[dates[0], 'A']

-0.4632677045163871

# Selection By Index

In [35]:
df.iloc[0]

A   -0.463268
B    0.681268
C    0.338396
D    0.365847
Name: 2013-01-01 00:00:00, dtype: float64