In [1]:
import pandas as pd
from sklearn.linear_model import LinearRegression

In [2]:
dataset = pd.read_csv("tv_show_viewers_datasest.csv")

In [3]:
dataset.head()

,Episode,Character1_appeared,Character2_appeared,Character3_appeared,Character4_appeared,Character5_appeared,Fight_scenes,Comedy_scences,Romance_scence,Viewers
0,Episode001,3,5,2,4,4,3,7,9,888983
1,Episode002,4,6,3,5,3,4,8,7,888737
2,Episode003,2,4,1,3,5,2,6,8,887743
3,Episode004,4,6,3,5,2,5,8,7,808437
4,Episode005,5,7,4,6,4,2,6,6,777626

In [4]:
def train_test():
    features = []
    target = []
    
    for char1, char2, char3, char4, char5, comedy, fight, romance, viewers in zip(dataset['Character1_appeared'],
                                                                                 dataset['Character2_appeared'],
                                                                                 dataset['Character3_appeared'],
                                                                                 dataset['Character4_appeared'],
                                                                                 dataset['Character5_appeared'],
                                                                                 dataset['Fight_scenes'],
                                                                                 dataset['Comedy_scences'],
                                                                                 dataset['Romance_scence'],
                                                                                 dataset['Viewers']):
        features.append([char1,char2,char3,char4,char5,comedy,fight,romance])
        target.append(viewers)
        
    return features, target

In [5]:
train_X, train_Y = train_test()

In [8]:
regression = LinearRegression()
regression.fit(train_X, train_Y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [9]:
regression.predict([[3,5,2,4,4,3,7,9]])

array([ 968031.03977999])

In [10]:
regression.score(train_X, train_Y)

0.76146239427050044